.ff-notoSerif{
    font-family: "Noto Serif TC";
    font-weight: 700;
}

.ff-notoSans{
    font-family: "Noto Sans TC";
}

.ff-redHatMono{
    font-family: "Red Hat Mono";
    font-weight: 600;
}
