.ff-notoSerif{
    font-family: "Noto Serif TC";
    font-weight: 700;
    letter-spacing: 0.05em;
}

.ff-notoSans{
    font-family: "Noto Sans TC";
}

.ff-redHatMono{
    font-family: "Red Hat Mono";
    font-weight: 600;
}

.translate-50{
    transform: translate(-50px, -50px);
}

.fit-content{
    width: fit-content;
}