<footer class="bg-primary text-light position-relative px-2 py-36 py-lg-64 overflow-hidden">
    <img src="../assets/images/leaf.png" alt="leaf" class="position-absolute end-0 top-50">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <a href="./index.html"  class="d-flex align-items-center">
                <img src="../assets/images/logo.png" alt="logo" class="header__logo me-2 me-lg-12">
                <h1 class="ff-redHatMono fs-4 fs-lg-2 text-light">vVibe</h1>
            </a>
            <ul class="list-unstyled d-flex">
                <li>
                    <a href="#">
                        <i class="bi bi-facebook me-3 me-lg-4 fs-4 fs-lg-30 text-light"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-instagram me-3 me-lg-4 fs-4 fs-lg-30 text-light"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-line fs-4 fs-lg-30 text-light"></i>
                    </a>
                </li>
            </ul>
        </div>
        
        <ul class="list-unstyled">
            <li class="mb-3 mb-lg-4">
                <a href="tel:+886-4-23100000" class="d-flex text-light">
                    <span class="material-symbols-rounded fs-4 fs-lg-30 me-12 me-lg-3">call</span>
                    <p class="ff-notoSerif fs-lg-5">04-2310-0000</p>
                </a>
            </li>
            <li class="mb-3 mb-lg-4">
                <a href="tel:+886-4-23100000" class="d-flex text-light">
                    <span class="material-symbols-sharp fs-4 fs-lg-30 me-12 me-lg-3">location_on</span>
                    <p class="ff-notoSerif fs-lg-5">台中市西區公益路</p>
                </a>
            </li>
            <li>
                <a href="tel:+886-4-23100000" class="d-flex text-light">
                    <span class="material-symbols-rounded fs-4 fs-lg-30 me-12 me-lg-3">schedule</span>
                    <p class="ff-notoSerif fs-lg-5">11:30 ~ 9:00</p>
                </a>
            </li>
        </ul>
    </div>
</footer>