<header class="bg-primary text-light">
    <div class="container">
        <div class="row align-items-center py-3">
            <div class="col d-flex align-items-center">
                <a class="d-lg-none text-light" data-bs-toggle="collapse" href="#collapseExample">
                    <span class="material-symbols-outlined me-12 fs-3"> menu</span>
                </a>
                
                <a href="./index.html"  class="d-flex align-items-center">
                    <img src="../assets/images/logo.png" alt="logo" class="header__logo me-2 me-lg-12">
                    <h1 class="ff-redHatMono fs-4 fs-lg-2 text-light">vVibe</h1>
                </a>
            </div>
            <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-outline-light me-12 me-lg-3 px-lg-20">註冊</button>
                <button type="button" class="btn btn-light text-primary px-lg-20">登入</button>
            </div>
        </div>
    </div>
</header>
<nav class="collapse d-lg-none" id="collapseExample">
    <ul class="card card-body list-unstyled bg-lightPrimary text-center">
        <li class="border-bottom border-light">
            <a href="#" class="py-12 fs-5 ff-notoSerif">
                最新消息
            </a>
        </li>
        <li class="border-bottom border-light">
            <a href="#" class="py-12 fs-5 ff-notoSerif">
                購物商城
            </a>
        </li>
        <li class="border-bottom border-light">
            <a href="#" class="py-12 fs-5 ff-notoSerif">
                線上訂位
            </a>
        </li>
        <li class="border-bottom border-light">
            <a href="#" class="py-12 fs-5 ff-notoSerif">
                常見問題
            </a>
        </li>
    </ul>
</nav>