<nav class="d-none d-lg-flex bg-lightPrimary">
    <div class="container">
        <ul class="list-unstyled d-flex justify-content-center">
            <li class="me-28">
                <a href="#" class="py-12 ff-notoSerif fs-5">最新消息</a>
            </li>
            <li class="me-28">
                <a href="#" class="py-12 ff-notoSerif fs-5">購物商城</a>
            </li>
            <li class="me-28">
                <a href="#" class="py-12 ff-notoSerif fs-5">線上訂位</a>
            </li>
            <li>
                <a href="#" class="py-12 ff-notoSerif fs-5">常見問題</a>
            </li>
        </ul>
    </div>
</nav>