<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vVibe</title>
    <%- include('./layout/head.ejs'); -%>
</head>

<body>
    <%- include('./layout/header.ejs'); -%>
    <%- include('./layout/subHeader.ejs'); -%>
    <section id="carouselBanner" class="carousel slide mb-80">
        <div class="carousel-inner">
            <div class="carousel-item active position-relative">
                <div class="position-absolute bannerText text-center text-lg-start">
                    <h2 class="mb-2 mb-lg-3 ff-notoSerif fs-4 fs-lg-1 text-light">品味新食尚<br/>滿足味蕾的渴望</h2>
                    <a href="#" type="button" class="btn btn-primary px-lg-20 fs-lg-5">立即探索</a>
                </div>
                <img src="../assets/images/banner1.png" class="d-block w-100 object-fit-cover" alt="banner1">
            </div>
            <div class="carousel-item position-relative">
                <div class="position-absolute bannerText text-center text-lg-start">
                    <h2 class="mb-2 mb-lg-3 ff-notoSerif fs-4 fs-lg-1 text-light">品味新食尚<br/>滿足味蕾的渴望</h2>
                    <a href="#" type="button" class="btn btn-primary px-lg-20 fs-lg-5">立即探索</a>
                </div>
                <img src="../assets/images/banner2.png" class="d-block w-100 object-fit-cover" alt="banner2">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselBanner" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselBanner" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </section>

    <section class="container mb-80">
        <div class="row row-cols-1 gy-80">
            <div class="col">
                <div class="row justify-content-center align-items-center row-cols-1 row-cols-lg-2 gy-3 gy-lg-0">
                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="position-relative fit-content">
                            <img src="../assets/images/quoteTop.png" alt="quoteImg" class="position-absolute z-n1 translate-50 quoteImg quoteTop">
                            <p class="ff-notoSerif fs-5 fs-2 text-primary text-center text-lg-start">
                                您曾因為排隊，<br/>將耐心消磨殆盡嗎？
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 text-center">
                        <img src="../assets/images/customerTrouble1.png" alt="customerTrouble1" class="img-fluid customerTroubleImg">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row flex-lg-row-reverse justify-content-center align-items-center row-cols-1 row-cols-lg-2 gy-3 gy-lg-0">
                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="position-relative fit-content">
                            <img src="../assets/images/quoteDown.png" alt="quoteImg" class="position-absolute z-n1 quoteImg quoteDown">
                            <p class="ff-notoSerif fs-5 fs-2 text-primary text-center text-lg-start">
                                您曾花費大量時間，<br/>在選購食材或商品嗎？
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 text-center">
                        <img src="../assets/images/customerTrouble2.png" alt="customerTrouble2" class="img-fluid customerTroubleImg">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row justify-content-center align-items-center row-cols-1 row-cols-lg-2 gy-3 gy-lg-0">
                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="position-relative fit-content">
                            <img src="../assets/images/quoteTop.png" alt="quoteImg" class="position-absolute z-n1 translate-50 quoteImg quoteTop">
                            <p class="ff-notoSerif fs-5 fs-2 text-primary text-center text-lg-start">
                                您曾遇過因工作忙碌，<br/>難以配合宅配的情況嗎？
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 text-center">
                        <img src="../assets/images/customerTrouble3.png" alt="customerTrouble1" class="img-fluid customerTroubleImg">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary position-relative overflow-hidden mb-80">
        <span class="d-none position-absolute logoDecorateText ff-redHatMono fs-120 lh-1">vVibe</span>
        <div class="container bg-light px-0 px-lg-4">
            <div class="bg-lightPrimary py-36 py-lg-64">
                <h3 class="mb-4 mb-lg-5 ff-notoSerif fs-2 text-primary text-center">我們為您排難解憂</h3>
                <div class="row row-cols-1 row-cols-lg-3 gy-4 gy-lg-0 justify-content-center">
                    <div class="col-lg-3 text-center">
                        <span class="material-symbols-outlined mb-lg-2 fs-80 text-primary">food_bank</span>
                        <h4 class="mb-2 ff-notoSerif fs-3 text-primary">愜意用餐</h4>
                        <p>
                            推出線上訂位服務，<br/>
                            讓您不再受漫長等待之苦，<br/>
                            即刻享受美食。
                        </p>
                    </div>
                    <div class="col-lg-3 text-center">
                        <span class="material-symbols-outlined mb-lg-2 fs-80 text-primary">shopping_bag</span>
                        <h4 class="mb-2 ff-notoSerif fs-3 text-primary">輕鬆購物</h4>
                        <p>
                            堅持嚴格精選商品，<br/>
                            為品質與價格雙重把關，<br/>
                            讓您輕鬆選購好物。
                        </p>
                    </div>
                    <div class="col-lg-3 text-center">
                        <span class="material-symbols-outlined mb-lg-2 fs-80 text-primary">storefront</span>
                        <h4 class="mb-2 ff-notoSerif fs-3 text-primary">便捷取貨</h4>
                        <p>
                            提供多元取貨方式，<br/>
                            透過店內自取或宅配服務，<br/>
                            讓您隨時都能體驗新食尚。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mb-80">
        <h3 class="mb-36 mb-lg-0 ff-notoSerif fs-2 text-primary text-center">您可以...</h3>
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-3 justify-content-center align-items-center">
                <div class="col-lg-3 d-flex flex-column align-items-center">
                    <div class="d-flex d-lg-none mb-4">
                        <h4 class="me-12 ff-notoSerif text-primary">線上<br/>預約</h4>
                        <p class="fs-4">輕鬆預約<br/>用餐時段</p>
                    </div>
                    <img src="../assets/images/reserve.png" alt="reserve" class="img-fluid">
                </div>
                <div class="col-lg-3 d-flex flex-column align-items-center">
                    <div class="d-none d-lg-flex">
                        <h4 class="me-12 ff-notoSerif text-primary">線上<br/>預約</h4>
                        <p class="fs-4">輕鬆預約<br/>用餐時段</p>
                    </div>
                    <hr style="width: 215px;" class="my-36 my-lg-4"/>
                    <div class="d-flex mb-4 mb-lg-0">
                        <h4 class="me-12 ff-notoSerif text-primary">購物<br/>商城</h4>
                        <p class="fs-4">快速選購<br/>多元商品</p>
                    </div>
                </div>
                <div class="col-lg-3 d-flex justify-content-center">
                    <img src="../assets/images/buy.png" alt="buy" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-leaf py-60 mb-80">
        <div class="container d-flex flex-column flex-lg-row justify-content-between align-items-center">
            <div class="me-lg-4">
                <h3 class="mb-2 mb-lg-3 ff-notoSerif text-light">熱銷商品</h3>
                <p class="mb-12 mb-lg-4 text-light">
                    我們引以為傲的精選商品，<br/>
                    經嚴格挑選，保證品質卓越，<br/>
                    為您帶來驚喜體驗。
                </p>
                <button type="button" class="btn btn-light text-primary px-lg-20 mb-36 mb-lg-0">查看更多</button>
            </div>
            <div class="row flex-nowrap overflow-auto cardList">
                <div class="col">
                    <a href="#">
                        <div class="card border-0 position-relative">
                            <span class="position-absolute end-0 px-3 py-1 ff-notoSerif text-primary bg-light">7折</span>
                            <img src="../assets/images/product1.png" class="card-img-top" alt="product1">
                            <div class="card-body">
                                <h5 class="card-title fw-bold mb-1 text-truncate">蘋果醋</h5>
                                <div class="card-text d-flex justify-content-between">
                                    <div class="d-flex">
                                        <span class="me-2 text-decoration-line-through">$250</span>
                                        <p>$175 / 5入</p>
                                    </div>
                                    <div class="d-flex text-primary">
                                        <span class="material-symbols-rounded me-1">star</span>
                                        <p>4.5(200)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col d-none d-lg-block">
                    <a href="#">
                        <div class="card border-0">
                            <img src="../assets/images/product2.png" class="card-img-top" alt="product2">
                            <div class="card-body">
                                <h5 class="card-title fw-bold mb-1 text-truncate">檸檬塔</h5>
                                <div class="card-text d-flex justify-content-between">
                                    <div class="d-flex">
                                        <p>$40</p>
                                    </div>
                                    <div class="d-flex text-primary">
                                        <span class="material-symbols-rounded me-1">star</span>
                                        <p>4.8(250)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col d-none d-lg-block">
                    <a href="#">
                        <div class="card border-0">
                            <img src="../assets/images/product3.png" class="card-img-top" alt="product3">
                            <div class="card-body">
                                <h5 class="card-title fw-bold mb-1 text-truncate">小披薩</h5>
                                <div class="card-text d-flex justify-content-between">
                                    <div class="d-flex">
                                        <span class="me-2 text-decoration-line-through">$250</span>
                                        <p>$100</p>
                                    </div>
                                    <div class="d-flex text-primary">
                                        <span class="material-symbols-rounded me-1">star</span>
                                        <p>4.3(120)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col d-none d-lg-block">
                    <a href="#">
                        <div class="card border-0">
                            <img src="../assets/images/product3.png" class="card-img-top" alt="product3">
                            <div class="card-body">
                                <h5 class="card-title fw-bold mb-1 text-truncate">小披薩</h5>
                                <div class="card-text d-flex justify-content-between">
                                    <div class="d-flex">
                                        <span class="me-2 text-decoration-line-through">$250</span>
                                        <p>$100</p>
                                    </div>
                                    <div class="d-flex text-primary">
                                        <span class="material-symbols-rounded me-1">star</span>
                                        <p>4.3(120)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="container mb-80">
        <h3 class="mb-4 mb-lg-36 ff-notoSerif text-primary fs-2 text-center">購物須知</h3>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <ul class="list-unstyled">
                    <li>
                        <button class="btn btn-outline-primary collapsed w-100 d-flex justify-content-between align-items-center p-3 border-3 border-bottom-0 collapseTitle"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseQA1">
                            <h5 class="fs-6 fs-lg-5 ff-notoSerif text-start text-primary">1. 店內自取期限？</h5>
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-outlined text-primary fs-36 expand_less">expand_less</span>
                                <span class="material-symbols-outlined text-primary fs-36 expand_more">expand_more</span>
                            </div>
                        </button>
                        <div class="collapse" id="collapseQA1">
                            <div class="card card-body p-3 bg-lightGray border-0">
                                <p>
                                    應於<span class="fw-bold">二週內</span>完成領取，若商品頁面特別標示「該商品保存期限較短」，則該項商品領取期限將縮短至一週。<span class="fw-bold">下訂單即代表同意</span>此領取規定，請多加留意。若逾時未領取，商品將會以店內販售的方式，供其他顧客選購。
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <button class="btn btn-outline-primary collapsed w-100 d-flex justify-content-between align-items-center p-3 border-3 border-bottom-0 collapseTitle"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseQA2">
                            <h5 class="fs-6 fs-lg-5 ff-notoSerif text-start text-primary">2. 未能於指定時間內完成取貨？</h5>
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-outlined text-primary fs-36 expand_less">expand_less</span>
                                <span class="material-symbols-outlined text-primary fs-36 expand_more">expand_more</span>
                            </div>
                        </button>
                        <div class="collapse" id="collapseQA2">
                            <div class="card card-body p-3 bg-lightGray border-0">
                                <p>
                                    未完成取貨次數達<span class="fw-bold">五次</span>，將不再享受我們的購物電商服務。
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <button class="btn btn-outline-primary collapsed w-100 d-flex justify-content-between align-items-center p-3 border-3 border-bottom-0 collapseTitle"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseQA3">
                            <h5 class="fs-6 fs-lg-5 ff-notoSerif text-start text-primary">3. 線上預約卻無法如期抵達？</h5>
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-outlined text-primary fs-36 expand_less">expand_less</span>
                                <span class="material-symbols-outlined text-primary fs-36 expand_more">expand_more</span>
                            </div>
                        </button>
                        <div class="collapse" id="collapseQA3">
                            <div class="card card-body p-3 bg-lightGray border-0">
                                <p>
                                    預約訂位卻未能出席次數達<span class="fw-bold">五次</span>，將不再享受我們的線上訂位服務。
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <button class="btn btn-outline-primary collapsed w-100 d-flex justify-content-between align-items-center p-3 border-3 border-bottom-0 collapseTitle"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseQA4">
                            <h5 class="fs-6 fs-lg-5 ff-notoSerif text-start text-primary">4. 有哪些支付方式可選擇？</h5>
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-outlined text-primary fs-36 expand_less">expand_less</span>
                                <span class="material-symbols-outlined text-primary fs-36 expand_more">expand_more</span>
                            </div>
                        </button>
                        <div class="collapse" id="collapseQA4">
                            <div class="card card-body p-3 bg-lightGray border-0">
                                <p>
                                    我們支援<span class="fw-bold">貨到付款</span>以及<span class="fw-bold">轉帳</span>方式，讓您選擇最適合您的方式。
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <button class="btn btn-outline-primary collapsed w-100 d-flex justify-content-between align-items-center p-3 border-3 border-bottom-0 collapseTitle"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseQA5">
                            <h5 class="fs-6 fs-lg-5 ff-notoSerif text-start text-primary">5. 購物後是否可以取消訂單？</h5>
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-outlined text-primary fs-36 expand_less">expand_less</span>
                                <span class="material-symbols-outlined text-primary fs-36 expand_more">expand_more</span>
                            </div>
                        </button>
                        <div class="collapse" id="collapseQA5">
                            <div class="card card-body p-3 bg-lightGray border-0">
                                <p>
                                    您可以在訂單狀態為<span class="fw-bold">出貨處理中</span>前進行取消。
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <button class="btn btn-outline-primary collapsed w-100 d-flex justify-content-between align-items-center p-3 border-3 collapseTitle"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseQA6">
                            <h5 class="fs-6 fs-lg-5 ff-notoSerif text-start text-primary">6. 如何辦理退換貨？</h5>
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-outlined text-primary fs-36 expand_less">expand_less</span>
                                <span class="material-symbols-outlined text-primary fs-36 expand_more">expand_more</span>
                            </div>
                        </button>
                        <div class="collapse" id="collapseQA6">
                            <div class="card card-body p-3 bg-lightGray border-0">
                                <p>
                                    若您對收到的商品不滿意，請於收到貨後的<span class="fw-bold">7天內</span>聯絡我們，我們將協助您辦理退貨退款手續。點選 <span class="text-primary">常見問題</span> 查看詳細說明。
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <%- include('./layout/footer.ejs'); -%>
    <script type="module" src="../js/main.js"></script>
</body>

</html>